
# Output graphics files
*.png

# Input Excel files
*.xlsx

# Intermediate files
ElectionData/FirstPrefs.csv
ElectionData/HouseTcpFlowByStateByParty2013.csv
PollingData/MergedData.csv
PollingData/NationalDataLong.csv
PollingData/StateDataLong.csv
www/data/*.csv

# OS X crap
.DS_Store

# R crap
.Rhistory

# Website settings
www/server_config.json

www/bower_components
