
# Output graphics files
*.png

# Input Excel files
*.xlsx

# Intermediate files
Working/
ElectionResults/
www/data/*.csv
.localapp
.webapp
FittedModel.RData
PollsForDb.csv

# OS X crap
.DS_Store

# R crap
.Rhistory

# Git crap
.gitattributes

# Website stuff
www/server_config.json
www/bower_components
www/.sass-cache/
www/ElectionSummary.json
www/log/
www/node_modules/
www/public/js/.module-cache/
www/render/
www/rss.xml

# Stuff I'm not ready to delete
old/
