<!doctype html>

<head>
    <title>Phantom Trend</title>
    <link rel="stylesheet" type="text/css" href="css/ptmain.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <div class="navbar">
            <ul>
                <li><a href="#trend">Trends</a></li>
                <li><a href="#houseforecast">House</a></li>
            <!--    <li><a href="#senateforecast">Senate</a></li>  -->
                <li><a href="#aboutthis">About</a></li>
                <li><a href="#recent">Changes</a></li>
            </ul>
        </div>

        <div class="pagetitle">
            <h1>The Phantom Trend</h1>
            <p>Like Nate Silver, only less accurate</p>
        </div>

        <div id="trend" class="pagepart firstrow">
            <h2>Trends</h2>
            <div id="trend-chart" style="width:600px; height:300px;"></div>
            <div id="chart-controls">
                <ul>
                    <li>
                        <h3>Electorate</h3>
                        <select id="trend-electorate-select">
                            <option value="AUS" selected>Australia</option>
                            <option value="NSW">NSW</option>
                            <option value="VIC">Victoria</option>
                            <option value="QLD">Queensland</option>
                            <option value="WA">Western Australia</option>
                            <option value="SA">South Australia</option>
                            <option value="TAS">Tasmania</option>
                            <option value="NT">Northern Territory</option>
                            <option value="ACT">ACT</option>
                        </select>
                    </li>
                    <li>
                        <h3>Party</h3>
                        <select id="twopp-party">
                            <option value="ALP" selected>ALP point of view</option>
                            <option value="LNP">LNP point of view</option>
                        </select>
                    </li>
                    <li>
                        <h3>Type</h3>
                        <select id="trend-graph-type">
                            <option value="twopp" selected>Two-Party Preferred</option>
                            <option value="primary">Primary Votes</option>
                        </select>
                    </li>
                    <li>
                        <h3>Y-axis Range</h3>
                        <select id="trend-yaxis-range">
                            <option value="auto" selected>Auto</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </li>
                </ul>
            </div>
            <script>var PT_HOST = "{{=it.PT_HOST}}";</script>



        <!--    <script src="js/dygraph-combined.js"></script>   -->
            <script src="dyg/dygraph-combined-dev.js"></script>


            <script src="js/jquery.min.js"></script>
            <script src="js/trend.js"></script>
        </div>

        <div id="houseforecast" class="pagepart">
            <h2>House</h2>

    <!--        {{~it.houseResults :value:index}}
            <div>{{=value.electorateName}}: {{=value.state}}</div>
            {{~}}  -->

        </div>

    <!--    <div id="senateforecast" class="pagepart">
            <h2>Senate</h2>
        </div>  -->

        <div id="aboutthis" class="pagepart">
            <h2>About</h2>
        </div>

        <div id="recent" class="pagepart">
            <h2>Changes</h2>
        </div>
    </div>

</body>
