<!doctype html>

<head>
    <title>Phantom Trend</title>
    <link rel="stylesheet" type="text/css" href="css/ptmain.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <div class="navbar">
            <ul>
                <li><a href="#trend">Trends</a></li>
                <li><a href="#houseforecast">House</a></li>
                <!--    <li><a href="#senateforecast">Senate</a></li>  -->
                <li><a href="#aboutthis">About</a></li>
                <li><a href="#recent">Changes</a></li>
            </ul>
        </div>

        <div class="pagetitle">
            <h1>The Phantom Trend</h1>
            <p>Like Nate Silver, only less accurate</p>
        </div>

        <div id="trend" class="pagepart firstrow">
            <h2>Trends</h2>
            <div id="trend-chart" style="width:600px; height:300px;"></div>
            <div id="chart-controls">
                <ul>
                    <li>
                        <h3>Electorate</h3>
                        <select id="trend-electorate-select">
                            <option value="AUS" selected>Australia</option>
                            <option value="NSW">NSW</option>
                            <option value="VIC">Victoria</option>
                            <option value="QLD">Queensland</option>
                            <option value="WA">Western Australia</option>
                            <option value="SA">South Australia</option>
                            <option value="TAS">Tasmania</option>
                            <option value="NT">Northern Territory</option>
                            <option value="ACT">ACT</option>
                        </select>
                    </li>
                    <li>
                        <h3>Party</h3>
                        <select id="twopp-party">
                            <option value="ALP" selected>ALP point of view</option>
                            <option value="LNP">LNP point of view</option>
                        </select>
                    </li>
                    <li>
                        <h3>Type</h3>
                        <select id="trend-graph-type">
                            <option value="twopp" selected>Two-Party Preferred</option>
                            <option value="primary">Primary Votes</option>
                        </select>
                    </li>
                    <li>
                        <h3>Y-axis Range</h3>
                        <select id="trend-yaxis-range">
                            <option value="auto" selected>Auto</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </li>
                </ul>
            </div>
            <script>
                var PT_HOST = "{{=it.PT_HOST}}";
            </script>



            <!--    <script src="js/dygraph-combined.js"></script>   -->
            <script src="dyg/dygraph-combined-dev.js"></script>


            <script src="js/jquery.min.js"></script>
            <script src="js/dataframe.js"></script>
            <script src="js/trend.js"></script>

            <!--    <div id="houseforecast" class="pagepart">
            <h2>House</h2>  -->

            <!--       {{~it.houseResults :value:index}}
            <div>{{=value.electorateName}}: {{=value.state}}</div>
            {{~}}

        </div>  -->

            <!--    <div id="senateforecast" class="pagepart">
            <h2>Senate</h2>
        </div>  -->

            <div id="recent" class="pagepart">
                <h2>Recent Changes</h2>
                <div id="github-commit-list">
                    <p id="github-commit-1"></p>
                    <p id="github-commit-2"></p>
                    <p id="github-commit-3"></p>
                    <p id="github-commit-4"></p>
                    <p id="github-commit-5"></p>
                </div>
            </div>

            <div id="aboutthis" class="pagepart">
                <h2>About</h2>
                <h3>The Model</h3>
                <p>These trendlines are fitted using a linear <a href="http://en.wikipedia.org/wiki/Kalman_filter">state
            space model</a>. The underlying state variables are the primary votes for each party in each State and Territory. The model fits a simple local level model to each component, but it uses a factor model for the covariance of each week's innovations.
                    Estimates of national votes and TPPs are made using population weights and last election's state-by-state preference flows.</p>
                <p>Each polling source has a fixed house effect in the form of a Gaussian error distribution. Elections are assumed to be perfect observations. I match the timing of each polling sample, so that e.g. Newspoll's quarterly averages are modelled
                    as noisy observations of the underlying data averaged over a quarter.</p>
                <p>The complete code and data for the model are available on <a href="https://github.com/PhantomTrend/ptcode">GitHub</a>.
                    <h3>Privacy and Cookies</h3>
                    <p>I'm planning to implement <a href="https://support.google.com/analytics/answer/2799357?hl=en">Google Analytics
            Demographics and Interests</a>, to learn more about how people are using the site. So be aware that, by default, data on your use of the site may be collected in that way. You can opt out of this by blocking cookies, by using Google's own
                        <a href="https://tools.google.com/dlpage/gaoptout/">opt-out tool</a>, by browsing the site in <a href="https://www.google.com/search?q=private+browsing+window">private</a> mode, or by installing
                        <a href="https://www.ghostery.com/">Ghostery</a>. This site will also store a cookie to help it remember your preferred graph settings. Again, feel free to opt out.</p>
                    <h3>The Author</h3>
                    <p>I'm Jamie Hall, a data scientist at <a href="https://www.kaggle.com">Kaggle</a>, formerly of the RBA's modelling department. Feel free to drop me a line on <a href="https://www.twitter.com/PhantomTrend">Twitter</a> or
                        <a href="mailto:phantomtrend@gmail.com">email</a>.
                    </p>
            </div>
        </div>
    </div>
    <script src="js/github.js"></script>
</body>
