<!doctype html>

<head>
    <title>Phantom Trend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/pt.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
    <div id="container">

        <div class="pagetitle">
            <h1>The Phantom Trend</h1>
            <p>Like Nate Silver, only less accurate</p>
        </div>

        <div class="pagepart firstrow">
            <h2>Shutting Down</h2>
            <p>Thanks for your interest in the Phantom Trend! There's a postmortem on its 2016 election forecasts on my <a href="http://jamiehall.cc/post/shutting-down-the-phantom-trend">personal site</a>. I'll be shutting this domain down shortly.
            </p>
        </div>
        <div id="recent" class="pagepart">
            <h2>Recent Changes</h2>
            <div id="github-commit-list">
                <p id="github-commit-1"></p>
                <p id="github-commit-2"></p>
                <p id="github-commit-3"></p>
                <p id="github-commit-4"></p>
                <p id="github-commit-5"></p>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/github.js"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-52577476-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
